/* General Styles for the Quiz Container */
.quiz {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;

  border-radius: 8px;
  background-color: #222;
  color: #ddd;
}

h1 {
  text-align: center;
  color: #ccc;
}

h2 {
  color: #bbb;
}

p {
  font-size: 25px;
}

/* Option Buttons */
.option {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #555;
  color: #ccc;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.option:hover {
  background-color: #444;
}

.option.selected {
  border-color: #1a73e8;
  background-color: #2a2a2a;
  color: #1a73e8;
}

/* Button Container */
.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button.disabled {
  background-color: #555;
  cursor: default;
}

/* Quiz Completed Styles */
.restart-button {
  background-color: #28a745;
}

.restart-button:hover {
  background-color: #218838;
}
